* {
    margin:0;
    box-sizing: border-box;
} 
.holder {
    display:grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px); 
    background-color: aqua;
    gap: 10px;
}
.divitems{
    background-color: bisque;
}
/* Your CSS Code here. */